*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    
}

html{
    background-color: black;
    z-index: -50;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.test5{
    overflow: hidden;
}

.navbar{
    /* display: flex; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.nav_container{
    width: 95%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav_links{
    display:inline-block;
    margin: auto 7% auto 0;
    position: absolute;
    top: 20px;
    right: 0;
    justify-content: space-around;
    width: 0%;
    height: 50%;
    /* height: 100%; */
    /* background-color: #27182f; */

    margin-right: 200px;

    overflow:hidden;
    white-space:nowrap;
    
    
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.nvbrcnt{
    /* position: absolute; */
    /* left: 0; */
    /* justify-content: right; */
    right: 0;
    margin: 0;
    max-width: 1600px;
    width: 55%;

    display:inline-block;
    
}

/* .show{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: rgb(231, 20, 20);
    padding:50px;
    z-index: 10;
    border-radius: 50px;
    transition: .2s;
    width: 50vw;
    height: 90vw;
} */

.show{
    margin-top: 0;
    text-align: center;
    display: inline-block;
    /* flex-direction: column; */
    /* position: absolute;
    top: -40px; */

    margin-right: 200px;

    background-color: #27182f;
    
    /* padding: 0px; */
    z-index: 10;
    border-radius: 5vw;
    width: 50%;
    height: 50%;

    

    -webkit-transition: all 1s ease-out;
-moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
transition: all 1s ease-out;
}

.nav_links a{
    display: inline-flex;
    text-decoration: none;
    color:white;
    align-items: center;
    margin: auto 3vw;
    font-size: 1.4vw;
    font-weight: 900;
    height: 100%;
    transition: .2s;
}

.nav_links a:hover {
    color:#8e59a8;
    transition: .2s;
}

.navbar_toggle{
    display: block;
    cursor: pointer;
    z-index: 25;
}

.navbar_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 1s ease;
    background: #8e59a8;
    display: block;
    cursor: pointer;
    pointer-events: none;
}

.logo{
    height: 60px;
    width: auto;
    margin: auto 0;
}


.bg{
    background:
        linear-gradient(rgb(57, 23, 88) , transparent),
        linear-gradient(to top left, rgb(16, 119, 16), transparent),
        linear-gradient(to top right, rgb(77, 8, 35), transparent),
        linear-gradient(to top, rgb(0, 0, 0), transparent),
        rgba(0, 0, 0, 0.438)
        linear-gradient(to top, rgb(0, 0, 0), transparent);
        
    background-blend-mode:multiply;
    height: 3350px;
    /* height: auto; */
    width: auto;
}

.homebox{
    position: relative;
    top: 500px;
    /* left: 0; */
    /* margin-top: -350px; */
    margin: -390px auto 0 auto;
    width: 95%;
    max-width: 1600px;
    height: 43vw;
    max-height: 700px;
    background-color: #27182f;
    z-index: 1;
    border-radius: 20px;
}

.LP_title{
    color: #b277d0;
    /* font-size: 11vw; */
    font-size: 180px;
    font-family: "Source Sans Pro";
    margin: -20px 0 0 40px;
}

.LP_para{
    width: 35%;
    margin: 20px 0 0 50px;
    font-size: 23px;
    font-weight: 400;
    color:rgb(113, 64, 138);
    text-align: left;
}

.playbtn{
    position: relative;
    bottom: -15%;
    padding: 10px 30px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-size: 30px;
    border: 0px;
    border-radius: 15px;
    color:rgb(230, 230, 230);
    background-color: #8e59a8;
    margin: 10px 0 0 50px;
    text-decoration: none;
    transition: .08s;
}

.playbtn:hover{
    filter: drop-shadow(0px 5px 10px black);
    background-color: rgb(178, 115, 209);
    transition: .08s;
}

.monkey{
    width: 58%;
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}

.homebox2{
    position: relative;
    top: 1100px;
    /* left: 50%; */
    /* margin-top: -350px; */
    margin: -350px auto 0 auto;
    width: 95%;
    max-width: 1600px;
    height: 52vw;
    max-height: 800px;
    background-color: #27182f00;
    border: #b277d0 6px solid ;
    z-index: 1;
    border-radius: 20px;
}

.shotgun{
    position: relative;
    bottom: 50%;
    width: 115%;
    left: -12%;
}

/* .shotgun{
    object-fit: cover;
    position: unset;
} */

.shotgun_container{
    width: 90vw;
    position: absolute;
    left: -80px;
    bottom: -180px;
}

.NL_title{
    color: #b277d0;
    margin-left: 15%;
    font-size: 140px;
    font-family: "Source Sans Pro";
}

.NL_title2{
    position: absolute;
    top: 0;
    color: black;
    margin-left: 15%;
    font-size: 140px;
    font-family: "Source Sans Pro";
    -webkit-text-stroke: 2px #b277d0; 
    -webkit-transform: rotate(-2deg); 

}

.G_title{
    color: #b277d0;
    position: relative;
    top: -5%;
    margin-left: 40%;
    font-size: 140px;
    font-family: "Source Sans Pro";
}

.NLG_para{
    color: #b277d0;
    font-size: 20px;
    font-family: "Source Sans Pro";
    position: absolute;
    width: 50%;
    text-align: right;
    bottom: 5%;
    right: 30px;
}

.homebox3{
    position: relative;
    top: 1200px;
    /* left: 50%; */
    /* margin-top: -350px; */
    margin: 0px auto 0 auto;
    width: 95%;
    max-width: 1600px;
    height: 800px;
    background-color: #27182f00;
    /* border: #b277d0 6px solid ; */
    z-index: 1;
}

.PYR_title{
    position: absolute;
    top: -100px;
    background: -webkit-linear-gradient(#000000, #b277d0);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0%;
    font-size: 170px;
    font-family: "Source Sans Pro";
}

.moon{
    position: relative;
    top: -100px;
    left: 47%;
    max-height: 900px;
    max-width: 900px;
    height: 42vw;
    width: 42vw;  
    /* background-color: blueviolet; */
    border-radius: 50%;
    background: linear-gradient(to top, rgb(88, 12, 110) 0%, transparent 70%);
    z-index: -1;
}

.kayle{
    width: 100%;
    position: absolute;
    left: 150px;
    top: -50px;
    z-index: -1;
    /* z-index: 2; */
}

.PYR_para{
    position: absolute;
    top: 100px;
    width: 42%;
    color: #b277d0;
    background-color: rgba(0, 0, 0, 0.466);
    /* font-size: 1.2vw; */
    font-size: 22.5px;
    font-family: "Source Sans Pro";
    text-align: left;
}

.PYR_repo2{
    top: 500px;
    width: 50%;
    background-color:unset;
}

.PYR_repo3{
    position: absolute;
    top: 700px;
    width: 64%;
    color: #b277d0;
    font-family: "Source Sans Pro";
    
}

.homebox4{
    position: relative;
    top: 1400px;
    /* left: 50%; */
    /* margin-top: -350px; */
    /* margin: -350px 0 0 -800px; */
    width: 100%;
    height: 500px;
    background-color: #27182f00;
    z-index: 1;
    
}

.acrona{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -1;
}

.shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 00px 0px 20px 20px rgb(0, 0, 0);
    pointer-events: none;
}

.reim_container{
    max-width: 1600px;
    margin: auto;
}

.reim_title{
    color: #ffffff;
    margin-top: 30px;
    /* display: flex;
    justify-content: flex-end; */
    margin-right: 100px;
    font-size: 100px;
    font-family: "Source Sans Pro";
    float: right;
}

.reim_para{
    color: #ffffff;
    margin: 30px 100px 0 0 ;
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
    width: 60%;
    font-size: 22px;
    font-family: "Source Sans Pro";
    float: right;
}

.group{
    width: 100%;
    float: right;
    /* right: 6.5%; */
    /* margin-right: 100px; */
    position: relative;
    top: 50px;
    /* left: 1360px; */
    margin: 30px 100px 0 0 ;
    display: flex;
    justify-content: flex-end;
}

.learnbtn{
    padding: 10px 25px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-size: 30px;
    border: 0px;
    border-radius: 15px;
    /* color:rgb(230, 230, 230); */
    background-color: #ffffff;
    /* margin: 60px 0 0 50px; */
    text-decoration: none;
    color: black;
}

.learnbtn:hover{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.151));
    background-color: rgb(255, 255, 255);
}

.learn{
    -webkit-background-clip: text;
    font-family: "Source Sans Pro";
    font-weight: 900;
}

.ftr_container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 1400px;
    background-color: black;
    padding: 50px 0;
}

.socialimg{
    height: 60px;
}

.socialimg:hover{
    background-color: white;
}

.socials{
    height: 60px;
    margin: 20px;
}

/*---------------------------PLAY.HTML------------------------------*/

.hidden{
    display: none;
    opacity: 0%;
    transition: 0.5s;
    pointer-events: none;
}

.show{
    visibility: visible;
    transition: 1s;
    
}

.bg2{
    position: relative;
    top: 0;
    z-index: 0;
    background:
        linear-gradient(rgb(57, 23, 88) , transparent),
        linear-gradient(to top left, rgb(16, 119, 16), transparent),
        linear-gradient(to top right, rgb(77, 8, 35), transparent),
        linear-gradient(to top, rgb(0, 0, 0), transparent),
        rgba(0, 0, 0, 0.438)
        linear-gradient(to top, rgb(0, 0, 0), transparent);  
    background-blend-mode:multiply;
    height: 800px;
    /* height: auto; */
    width: auto;
}

.play_vid_cnt{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.play_vid{
    /* width: 50vw; */
    /* height: 50vw; */
    object-fit: cover;
}

.play_title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-shadow: 0.03em 0 0 rgba(255, 0, 0, 0.75),
    -0.015em -0.02em 0 rgba(0, 4, 255, 0.75),
    0.015em 0.03em 0 rgba(0, 255, 0, 0.75);
    cursor: pointer;
    text-decoration: none;
    /* font-family: 'Open Sans Condensed'; */
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 0 10px;
}

/* #character {
    height: 50px;
    width: 50px;
    background: url(run_sprite.png) 0px 0px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:relative;
  } */

  .game{
    position: absolute;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    /* border: 1px solid black; */
    margin: 0 auto 200px auto;
    background-color: rgba(38, 20, 48, 0.158);
    border-radius: 20px;
    padding: 15px;
}



#redText{
    color:rgb(163, 41, 41);
}

.counter{
    color: white;
}

.game p{
    color:white;
}

.game h1{
    color:white;
    text-align: center;
    position: absolute;
    top: -250px;
    transform: translate(-50%, 0);
    margin-left: 45%;
    width: 80vw;
    font-size: 4vw;
}

.game h2{
    color:white;
    position: absolute;
    top: 300px;
    text-align: center;
    transform: translate(-50%, 0);
    margin-left: 45%;
    width: 80vw;
    font-size: 4vw;
    font-weight: 400;
}

#character{
    width: 45px;
    height: 45px;
    background: url(run_sprite.png) 0px 0px;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump .3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    50%{top: 100px;}
    /* 70%{top: 100px;} */
    100%{top: 150px;}
}

#balloon{
    background: url(balloon.png);
    width: 14px;
    height: 17px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}

/*-------------------LEARN----------------------*/

.learnTitle{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 200px auto 50px auto;
    color: white;
    font-size: 4vw;
    width: 100%;
    z-index: 1;
}

.learnImg{
    position: absolute;
    margin-top: 120px;
    top: 20vw;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45%;
    z-index: 1;
    opacity: 30%;
}

.popupCont{
    position: absolute;
    top: 20vw;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    /* max-width: 1600px; */
    align-items: center;
    width: 99vw;
}

.popup{
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.671);
    width: 40%;
    border-radius: 1.5vw;
    padding: 1vw;
    font-size: 1.3vw;
}

.popupTitle{
    font-size: 2vw;
}

.bg3{
    position: absolute;
    z-index: -10;
    background:
        linear-gradient(rgb(57, 23, 88) , transparent),
        linear-gradient(to top left, rgb(16, 119, 16), transparent),
        linear-gradient(to top right, rgb(77, 8, 35), transparent),
        linear-gradient(to top, rgb(0, 0, 0), transparent),
        rgba(0, 0, 0, 0.438)
        linear-gradient(to top, rgb(0, 0, 0), transparent);
        
    background-blend-mode:multiply;
    height: 50vw;
    /* height: auto; */
    width: 100%;
}

.colouredText{
    color:rgb(65, 39, 99);
}

@media screen and (max-width:1410px){
.nav_links{
    margin-right: 9%;
}

.show{
    margin-right: 10%;
    width: 50%;
}

.nav_links a{
    font-size: 2.5vw;
}
    

    .bg{
        /* height: 3050px; */
        height: auto;
    }

    .LP_title{
        text-align: center;
        font-size: 11vw;
    }

    .LP_para{
        width: 50%;
        font-size: 2.4vw;
        margin-left: 5%;
    }

    .playbtn{
        font-size: 3vw;
        bottom: -4vw;
        margin: 10% 0 10% 5%;
        padding: 1vw 3vw;
    }

    .homebox{
        min-height: 130px;
        height: 60vw;
    }

    .homebox2{
        top: 880px;
        /* padding-bottom: 200px; */
        height: 54vw;
    }

    .monkey{
        top: 20%;
        width: 45%;
    }

    .NL_title{
        font-size: 8vw;
    }

    .NL_title2{
        font-size: 8vw;
        -webkit-transform: rotate(-4deg); 
        -webkit-text-stroke: 1px #b277d0; 
    }

    .G_title{
        font-size: 8vw;
    }

    .shotgun{
        object-fit: cover;
        position: unset;
    }

    .shotgun_container{
        width: 100vw;
        position: absolute;
        left: -18vw;
        bottom: -20px;
    }

    .NLG_para{
        font-size: 2vw;
        width: 70%;
        margin-right: -20px;
    }

    .homebox3{
        top: 910px;
        height: 80vw;
    }

    .kayle{
        object-fit: cover;
        position: unset;
        width: 62vw;
        z-index: -1;
    }

    .kayle_container{
        position: absolute;
        overflow: hidden;
        top: -0%;
        left: 35%;
        height: auto;
        width: 62vw;
        z-index: -1;
    }

    .moon{
        top: -60px;
        left: 55%;
        height: 40vw;
        width: 40vw;
       
    }

    .PYR_title{
        line-height: 90%;
        width: 55%;
        top: 10px;
        font-size: 10vw;
        background: -webkit-linear-gradient(#131014, #b277d0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .PYR_para{
        position:unset;
        /* top: 25%; */
        width: 100%;
        font-size: 2.4vw;
        background-color: rgba(0, 0, 0, 0.349);
        z-index: 100;
        margin-top: -17%;
    }

    .PYR_repo2, .PYR_repo3{
        position:unset;
        /* top: 520; */
        margin-top: 3vw;
        width: 100%;
    }

    .homebox4{
        position: relative;
        top: 1000px;
        height: 40vw;
        margin-bottom: 200px;
    }

    .group{
        width: 100%;
        top: 4vw;
        margin: 1vw 30px 0 0 ;
    }

    .learnbtn{
        font-size: 2.5vw;
        padding: 1% 1%;
        border-radius: 20%;
        margin-top: -1vw;
    }

    .ftr_container{
        position: relative;
        top: 800px;
        height: 10vw;
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 0 0;
    }

    .reim_title{
        font-size: 9.2vw;
        margin: 30px 30px 0 0 ;
    }

    .reim_para{
        margin: 1vw 30px 0 0 ;
        font-size: 2vw;
        width: 80%;
    }

    .socialimg{
        height: 5vw;
    }

    .socials{
        height: 7vw;
    }


.bg3{
    position: absolute;
    z-index: -2;
    top: 0;
    background:
        linear-gradient(rgb(57, 23, 88) , transparent),
        linear-gradient(to top left, rgb(16, 119, 16), transparent),
        linear-gradient(to top right, rgb(77, 8, 35), transparent),
        linear-gradient(to top, rgb(0, 0, 0), transparent),
        rgba(0, 0, 0, 0.438)
        linear-gradient(to top, rgb(0, 0, 0), transparent);
        
    background-blend-mode:multiply;
    height: 60vw;
    /* height: auto; */
    width: 100%;
}


.popupCont{
    position: unset;
    left: 0;
    margin-top: 170px;
    -webkit-transform: unset;
    transform: unset;
    /* position: absolute;
    top: 20vw;
    left: 50%;
    margin: 100px auto 0 auto;*/
    display: flex; 
    flex-direction: column;
    /* max-width: 1600px;
    align-items: center;
    width: 100vw; */
}

.learnTitle{
    margin-top:120px;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 6vw;
    width: 90%;
}

.learnImg{
    width: 80%;
    margin-top: 30vw;
}

.popup{
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.671);
    width: 80%;
    border-radius: 1.5vw;
    padding: 1vw;
    font-size: 3vw;
    margin-bottom: 2vw;
}

.popupTitle{
    font-size: 4vw;
}


}


/*---------------------------PLAY.HTML------------------------------*/

.hidden{
    display: none;
    opacity: 0%;
    transition: 0.5s;
    
}

.show{
    visibility: visible;
    transition: 1s;
    
}

.bg2{
    position: relative;
    top: 0;
    z-index: 0;
    background:
        linear-gradient(rgb(57, 23, 88) , transparent),
        linear-gradient(to top left, rgb(16, 119, 16), transparent),
        linear-gradient(to top right, rgb(77, 8, 35), transparent),
        linear-gradient(to top, rgb(0, 0, 0), transparent),
        rgba(0, 0, 0, 0.438)
        linear-gradient(to top, rgb(0, 0, 0), transparent);  
    background-blend-mode:multiply;
    height: 800px;
    /* height: auto; */
    width: auto;
}

.play_vid_cnt{
    position: absolute;
    top: 0;
    transform: translate(50%, 50%);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.play_vid{
    /* width: 50vw; */
    /* height: 50vw; */
    object-fit: cover;
}

.play_title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-shadow: 0.03em 0 0 rgba(255, 0, 0, 0.75),
    -0.015em -0.02em 0 rgba(0, 4, 255, 0.75),
    0.015em 0.03em 0 rgba(0, 255, 0, 0.75);
    cursor: pointer;
    text-decoration: none;
    /* font-family: 'Open Sans Condensed'; */
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 0 10px;
}

/* #character {
    height: 50px;
    width: 50px;
    background: url(run_sprite.png) 0px 0px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:relative;
  } */

  .game{
    position: absolute;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 100vw;
    height: 250px;
    /* border: 1px solid black; */
    margin: 0 auto 200px auto;
    background-color: rgba(38, 20, 48, 0.158);
    border-radius: 20px;
    padding: 15px;
}

.counter{
    color: white;
}

.game p{
    color:white;
}

#character{
    width: 45px;
    height: 45px;
    background: url(run_sprite.png) 0px 0px;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump .3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    50%{top: 100px;}
    /* 70%{top: 100px;} */
    100%{top: 150px;}
}

#balloon{
    background: url(balloon.png);
    width: 14px;
    height: 17px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}

.game h1{
    color:white;
    text-align: center;
    position: absolute;
    top: -200px;
    transform: translate(-50%, 0);
    margin-left: 45%;
    width: 60vw;
    font-size: 3.5vw;
}

.game h2{
    color:white;
    position: absolute;
    top: 300px;
    text-align: center;
    transform: translate(-50%, 0);
    margin-left: 45%;
    width: 60vw;
    font-size: 3.5vw;
    font-weight: 400;
}



@media screen and (max-width:500px){
    .homebox3{
        top: 910px;
        height: 65vw;
    }

    .game h1{
        color:white;
        text-align: center;
        position: absolute;
        top: -200px;
        transform: translate(-50%, 0);
        margin-left: 45%;
        width: 80vw;
        font-size: 10vw;
    }
    
    .game h2{
        color:white;
        position: absolute;
        top: 300px;
        text-align: center;
        transform: translate(-50%, 0);
        margin-left: 45%;
        width: 80vw;
        font-size: 10vw;
        font-weight: 400;
    }

    .shotgun_container{
        width: 100vw;
        position: absolute;
        left: -18vw;
        bottom: -10px;
    }

    .G_title{
        top: -7%;
    }

    .reim_title{
        margin-top: 10px;
    }

    .learnImg{
        margin-top: 150px;
    }
}