*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    text-transform: lowercase;
}

.capital {display:inline-block !important}
.capital:first-letter {text-transform: uppercase !important}

.bg{
    width: 100%;
    height: 100%;
    background-color: #f5f2ed;
    background: linear-gradient(#f5f2ed, #beb5a9);
    position:fixed;
    top: 0;
    left:0;
    z-index: -6;
}

.active-page{
    color:#927d62 !important;
}

/* .bgbox{
    width: 100%;
    height: 100vh;
    background-color: #f5f2ed;
    background: linear-gradient(#f5f2ed, #beb5a9);
    position:absolute;
    top: 0;
    left:0;
    z-index: -5;
} */

/* .bgbox2{
    width: 100%;
    height: 100%;
    background-color: #dacdb8;
    position:absolute;
    top: 0;
    left:0;
    z-index: -1;
} */

#bgimg{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Navigation */

#navbar{
    /* background: #f5f2ed; */
    height: 89px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 999;
    /* box-shadow: #8b827918 10px 10px 10px ; */
}

nav.scrolled{
    box-shadow: #8b82796c 0px 10px 10px ;
    background: #f5f2ed;
}


.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 15px auto 0 auto;
    padding: 0px 50px;
}

#navbar_logo{
    background-color: #a6a28d;
    background-image: linear-gradient(to top, #9b8c77 0%, #d3c38e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.1rem;
}

#logo_img{
    width:150px;
    height:auto;
    opacity: 80%;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    /* border-bottom: 1px solid #ac9c8d; */
    height: 60px;
    margin-top: 10px;
}

.navbar_item{
    height: 60px;
    text-align: center;
    width: 100%;
    margin: 0 20px;
}

.navbar_links{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color:black;
    align-items: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size:1.2rem;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 20px 0;
}
/* 
.navbar_links1{
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-left:auto;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size:1.2rem;
    font-family: 'Roboto';
    font-weight: 400;
} */

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0rem;
    width: 100%;
    margin-left: 0px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 6px 20px;
    height: 80%;
    width: 100%;
    outline: none;
    border: #9b8c77 solid 1px;
    border-radius: 40px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2)); */
    /* background: -webkit-linear-gradient(to bottom, #a6a28d, #695c4e);
    background: linear-gradient(to bottom, #a6a28d, #695c4e); */
    color: black;
    transition: all 0.3s ease;
    font-size:1.2rem;
    font-family: 'Roboto';
    font-weight: 400;
    background-color: none;
}

.button:hover{
    background-color: #927d62;
    color:#dbd5cd;
}

.navbar_links:hover{
    color:#927d62;
    transition: all 0.3s ease;
}

.navbar_links1:hover{
    color:#927d62;
    transition: all 0.3s ease;
}



/* Main */

 .main_container{
     text-align: center;
     justify-content: center;
     height:auto;
     padding: 0;
     margin: auto;
     /* background: #f5f2ed; */
 }

/*carousel*/

    body {
        background: #eee;
    }
    .container {
        width: 100%;
        margin:20px 0;
    }
    .carousel {
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;
        background: radial-gradient(#beb5a8, #8d7b61c9);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .slider {
        display: flex;
        height: 100%;
        width: 400%;
        transition: .5s;
    }
    .slider section {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 20px;
    }

    .review{
        padding: 0 12vw;
        width: 70%;
        color:#574e42;
    }

    .review h1{
        height: 1vw;
    }
  
    #s2{
      background-image: url('review1.jpg');
      background:linear-gradient(rgba(201, 181, 168, 0.8), rgba(201, 181, 168, 0.8)), url("review1.jpg");
      background-size: cover;
      background-size: 100%;
      background-position: 50% 60%;
      
    }

    #s3{
        background-image: url('review2.jpg');
        background:linear-gradient(rgba(201, 181, 168, 0.8), rgba(201, 181, 168, 0.8)), url("review2.jpg");
        background-size: cover;
        background-position: 50% 30%;
    }

    #s4{
        background-image: url('review3.jpg');
        background:linear-gradient(rgba(201, 181, 168, 0.8), rgba(201, 181, 168, 0.8)), url("review3.jpg");
        background-size: cover;
        background-position: 50% 20%;
    }



  .tagline_container{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
  }

  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow i {
    font-size: 70px;
    -webkit-user-select: none;
    color: #416be4;
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
  .control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
  }
  .control ul li {
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
  }
  .control ul li.selected {
    background: transparent;
  }

  .control i{
      color: #584e41;
  }




#p_desc{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    opacity: 80%;
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 1250px;
    margin: auto;
    padding: 0;
    font-weight: 300;
}

.background{
    /* background-color: #fdfaf2; */
    width: auto;
    height: auto;
}

.pics_container{
    /* max-height:335px; */
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0px auto;
    padding: 15px 50px;
    z-index: 1;
}

.pic1{
    background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("friends_gallery.jpg");
    background-size:cover;
    background-position:center;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    max-width: 100%;
    width: auto;
    height: 300px;
    max-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3);
    
}

.pic2{
    background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("style2_example.jpg");
    background-size:cover;
    background-position:center;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    max-width: 100%;
    width: auto;
    height: 300px;
    max-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3);
}

.pic3{
    background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("couple_gallery.jpg");
    background-size:cover;
    background-position:center;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    max-width: 600px;
    width: 500px;
    height: auto;
    max-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3);
}

.picText{
    opacity: 100%;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:1.1rem;
    font-weight: 600;
    cursor: default;
    color: #6e6155;
}

.print_details{
    font-size: 1rem;
    margin: 0 20px;
}

.print{
    border: 3px solid black;
    opacity: 40%;
    transition: all 0.3s ease;
    max-width: 100%;
    height: auto;
    max-height:300px;
}

.tagline_con{
    height: 130px;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 210px;
    left: 0;
    right: 0;
    padding: 0 50px;
}

.tagline{
    font-weight: 300;
    text-align: left;
    font-size: 28px;
    width: 800px;
    color: #584e41;
    margin: 0;
}

.tagline p{
    font-weight: 500;
    font-size: 32px;
}

#highlight{
    background: #927d62;
    color:#beb5a9;
    padding: 1px 10px 1px 10px;
}

.bgColourContainer{
    width: 100%;
    height:auto;
    margin-top: 15px;
    z-index: -5;
}

.bgColour img{
    width: 100%;
    height: 400px;
    box-shadow: rgba(14, 14, 14, 0.562) 0px 0px 10px;
    opacity: 50%;
    /* border-top: #5c4d3d83 solid 10px;
    border-bottom: #5c4d3d88 solid 10px; */
}

.buttonShop{
    width: auto;
    height: auto;
    /* background: linear-gradient(#ccbea6, #b39f85); */
    background-color: #927d62;
    text-decoration: none;
    color: #cfcfcf;
    border: 2px solid #0000001f;
    border-radius: 50px;
    margin: auto;
    padding: 5px 20px;
    position: relative;
    top: 40px;
    font-size: 27px;
    font-weight: 600;
    transition: .2s;
}

.buttonShop:hover{
    background-color: #927d6296;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.527);
    color:#cecac0;
    transition: .2s;
}

.orders_background{
    width: auto;
    height: auto;
    background: white;
}

#orders h1{
    text-align: center;
    font: 1.6rem  'Roboto', Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

#orders p{
    text-align: center;
    font: 1.2rem  'Roboto', Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

.print_desc{
    background-color: #927d62;
    font-family: 'Montserrat';
    font-size: 30px;
    height: auto;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    /* filter: drop-shadow(0px 0px 4px rgba(0,0,0,1)); */
}

#h1_desc{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    opacity: 80%;
    color: #d6d3ce;
    font-size:27px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: lowercase;
    max-width: 1300px;
    margin: auto;
    padding: 15px 50px;
    font-weight: 400;
}

.pic1:hover>.picText{
    opacity: 0%;
    transition: all 0.3s ease;
}

.pic2:hover>.picText{
    opacity: 0%;
    transition: all 0.3s ease;
}

.pic3:hover>.picText{
    opacity: 0%;
    transition: all 0.3s ease;
}

.pic1:hover{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("friends_gallery.jpg");
    background-size:cover;
    background-position:center;
    border: 3px solid black;
    transition: all 0.3s ease;
    max-width: 100%;
    width: auto;
    height: 300px;
    max-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.pic2:hover{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("style2_example.jpg");
    background-size:cover;
    background-position:center;
    border: 3px solid black;
    transition: all 0.3s ease;
    max-width: 100%;
    width: auto;
    height: 300px;
    max-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.pic3:hover{
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("couple_gallery.jpg");
    background-size:cover;
    background-position:center;
    border: 3px solid black;
    transition: all 0.3s ease;
    max-width: 600px;
    width: 500px;
    height: auto;
    max-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about_container{
    height: auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    padding: 0px 50px;
    /* position: relative; */
    z-index: 0;
    display: flex;
    justify-content:space-between;
    
}

.writing_block{
    max-width: 1300px;
    height: 300px;
    width: 80%;
    /* background-color: rgba(0, 0, 0, 0.05); */
    margin-top:40px;
    /* position: absolute; */
    left: 190px;
    z-index: 1;
}


.about_background{
    width: auto;
    height: 480px;
    /* background-color: white; */
    /* background: #f5f2ed; */
    
}

.about_writing{
    color:#313131;
    text-align: left;
    margin: 10px 15px 15px 0px;
}

.about_writing h1{
    margin: 0 0 10px 0;
}

#picofLisa{
    border: #00000059 3px solid;
    height: 400px;
    width: 350px;
    object-fit:cover;
    z-index: 2;
    /* position: relative;
    left: 180px; */
    margin-top: 40px;
    /* margin-right: 20px; */
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3);
}

.socials_logo{
    margin-top: 40px;
    height: auto;
    width:80px;
    border: solid black 2px;
    border-radius: 19px;
}

.reviews_container{
    height:auto;	
    position: relative;
    margin: 0 auto;
    padding: 15px 50px;
    z-index: 1;
    height: auto;
    max-width: 1300px;
}


.reviews_bg{
    display: flex;
    justify-content: space-between;
    background: white;
    margin: auto;
}

.review2{
    
}


/* #picofLisa{
    border: #c2b5a3 6px solid;
    height: 300px;
    width: 300px;
    object-fit:cover;
    z-index: 2;
    float: right;
    margin: 90px 350px 60px 20px;
    transition: .2s;
} */

/* #picofLisa:hover{
    border: #c2b5a3 6px solid;
    height: 320px;
    width: 320px;
    object-fit:cover;
    z-index: 2;
    float: right;
    margin: 80px 320px 0px 20px;
    position: relative;
    transition: .2s;
} */

#para{
    font-size: 22px;
    /* text-transform: lowercase; */
}

/*-------PHOTO GUIDE-------*/

.pguideContainer{
    
}

.pguideContainer h1{
    text-align: center;
    font-size: 2.5vw;
    color: #5f5240;
    margin-top: 50px;
}

.guide_content h2{
    color: #f5f2ed;
    background-color: rgb(197, 184, 168);
    display: table;
    padding: 5px 8px;
    margin-bottom: 10px;
    font-weight: 900;
}

.guide_content p{
    color: #665741;
    font-weight: 900;
}

.guide_content li{
    list-style:circle;
    margin-bottom: .5vw;
    color: #61594e;
}

.guide_content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
    font-size: 1vw;
}

.guide_content img{
    width: 25vw;
    height: 100%;
}

.guide_content ul{
    padding: 0 50px;
    list-style: none;
}

/* Order page*/

.order_container{
    /* padding: 30px; */
    max-width: auto;
    margin: 40px 0 0 0;
    text-align: center;
    padding: 0;
    /* background-color: #eae7dc; */
    height: 1000px;
}

.order_background{
    /* background-color: #eae7dc; */
    height: 100%;
}

#order_title{
    margin: 5px;
}

#order_title h1{
    font-size: 60px;
    margin-bottom: 5px;
    color: #776053;
}

#order_title p{
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #5e4b42;
}


.forms{
    margin: 5px 0px;
}

input{
    padding:0px 10px;
    border-radius: 7px;
    border: #a6a28d solid 2px;
}

input:placeholder-shown{
    padding: 0px 10px;
}

input:focus{
    outline: none;
    filter:drop-shadow(0px 2px 3px rgba(0,0,0,.3));
}

textarea{
    padding:5px 10px;
    border-radius: 7px;
    border: #a6a28d solid 2px;
}

textarea:placeholder-shown{
    padding: 5px 10px;
}



#name{
    width: 700px;
    height: 50px;
    margin: 5px 0px;
    font-size: 16px;
}

#email{
    width: 700px;
    height: 50px;
    margin: 5px 0px;
    font-size: 16px;
}

#message{
    width: 700px;
    height: 190px;
    margin: 5px 0px;
    font-size: 16px;
}

#button{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    border-radius: 4px;
    border: rgba(138, 128, 118, 0.9) solid 2px;
    transition: ease-out 0.3s;
    background: #eae7dc;
    box-shadow: inset 0 0 0 0 #eae7dc;
    color:black;
    cursor:pointer;
}

#button:hover{
    box-shadow: inset 70px 0 0 0 #a59183;
    color:white;
}


#myfile{
    width: 300px;
    position: relative;
    padding: 3px 5px 3px 5px;
    border: rgba(0, 0, 0, 0.288) 1px solid;

}

.order_description{
    font-size: 22px;
    color: #776053;
    /* background-color: #47423c;
    width: 520px;
    padding:15px 10px;
    margin: auto;
    color: #a79d91;
    margin-top: 20px; */
}

/* #orderDesc1{
    background-color: #47423c;
    width: 920px;
    padding:10px;
    margin: auto;
} */

.order_description ul{
    width: 400px;
    list-style-type: none;
    font-weight: 500;
}

#bold{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

#examples_listOrder{
    text-align: center;
    font-size: 20px;
    width: auto;
}

.forms label{
    font-size: 20px;
}

#printsBelow{
    background-color: #47423c;
    width: autopx;
    padding:15px 0px;
    color: #a79d91;
    margin: 0;
    position: absolute;
    top: 780px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.background2{
    /* background-color: #fdfaf2; */
    width: auto;
    height: auto;
    position: absolute;
    top: 820px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}


/* Enquiries page*/

.contact_container{
    padding: 0;
    height: 100%;
    height: auto;
    z-index: 1;
    width: 60%;
    max-width: 1300px;
}

.contact_background{
    /* background-color: #eae7dc; */
    height: 200px;
    display: flex;
    height: auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 80px auto 0 auto;
    padding: 0px 50px;
}

#contact_title{
    margin: 5px;
}

#contact_title h1{
    font-size: 50px;
    /* font-family: 'Roboto';
    font-weight: 700; */
}

#contact_title p{
    margin: 10px 0 10px 0;
    padding: 0;
    font-size:22px
}


.forms{
    margin: 5px 0px;
}

input{
    padding:0px 10px;
    border-radius: 0px;
    border: #a6a28d solid 2px;
}

input:placeholder-shown{
    padding: 0px 10px;
}

input:focus{
    outline: none;
    filter:drop-shadow(0px 2px 3px rgba(0,0,0,.3));
}

textarea{
    padding:5px 10px;
    border-radius: 0px;
    border: #a6a28d solid 2px;
}

textarea:placeholder-shown{
    padding: 5px 10px;
}

textarea:focus{
    outline:none;
    filter:drop-shadow(0px 2px 3px rgba(0,0,0,.3));
}


.formBox{
    width: 700px;
    height: 50px;
    margin: 5px 0px;
    font-size:20px;
}

#button{
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 0px;
    border: rgba(138, 128, 118, 0.9) solid 2px;
    transition: ease-out 0.3s;
    background: #eae7dc;
    box-shadow: inset 0 0 0 0 #eae7dc;
    color:black;
    cursor:pointer;
    font-size: 22px;
}

#button:hover{
    box-shadow: inset 120px 0 0 0 #a59183;
    color:#e7e1db;
}


#myfile{
    width: 300px;
    position: relative;
    padding: 3px 5px 3px 5px;
    border: rgba(0, 0, 0, 0.288) 1px solid;
    font-size: 16px;
}

.contact_form label{
    font-size: 20px;
}

.contact_description{
    margin-top: 70px;
    width: 60%;
    display: flex;
}

.contact_description h1{
    font-size: 40px;
    padding-right: 10px;
}



#examples_list{
    position: absolute;
    top:430px;
    background: #927d62;
    width: 370px;
    padding: 20px;
}

#examples_list p{
    font-size: 30px;
    font-weight: 600;
    color: #beb5a9;
}

#examples_list ul{
    width: 400px;
    list-style-type: none;
    font-size: 20px;
    color:#beb5a9;
    font-weight: 500;
}

#examples_list li{
    margin-top: 5px;
    font-style: italic;
}

#bold{
    font-weight: 600;
}

#examples_list{
    text-align: left;
}

/*shop*/
.shop_container{
    max-width: 120rem;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 1.5rem;
    /* background-color: #eae7dc; */
    /* height: 100vh;
    display: flex; */
}

.showcase_banner{
    /* background: #dbd1c4;
    border-bottom: #ada195 5px solid; */
    text-align: center;
    margin: 20px 0;
}

.shop_banner h1{
    padding-top: 5px;
}

.shop_banner p{
   padding:0px 0px 8px 0px;
   font-size: 18px;
}

.shop_desc{
    text-align: center;
}

#insta_container{
    margin: auto;
    max-width: 1300px;
    width: auto;
    padding-top: 5px;
}

#pixlee_container{
    margin: 0px 40px 0px 40px;
}

.gallery__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery {
    max-width: 1500px;
    margin: 0px auto 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 150px;
    grid-gap: 1.5rem; 
    grid-template-areas: 
    "img-1 img-2 img-3 "
    "img-1 img-2 img-3 "
    ;
  }

.gallery h1{
    font-size: 20px;
    margin:4px;
}

.gallery a{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid rgb(163, 148, 128) 4px;
    border-radius: 5px; */
    overflow: hidden;
    border-radius: 2px;
    
  }

.gallery_pic_desc{
    background: #fdfdfd56;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 77px;
    text-decoration: none;
    color:black;
    /* border-top: solid rgba(0, 0, 0, 0.527) 5px; */
    transform: translate(0px, 45px);
    transition: .5s;
}

.gallery a::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity .5s;
      
  }

.gallery a:hover,
.gallery a:hover::before{
      opacity: 1;
  }

.gallery a:hover .gallery_pic_desc{
    transform: translate(0px, 0px);
    height: auto;
    transition: .5s;
    background:white;
}

.img-1{
      grid-area: img-1;
      /* min-height: 51.5rem; */
      background-image: url("2girls_gallery_print.jpg");
  }

.img-2{
    grid-area: img-2;
    background-image: url("phonecaseCatty_cropped.jpg");
}

.img-3{
    grid-area: img-3;
    background-image: url("example3.jpg");
}

.img-4{
    grid-area: img-4;
    background-image: url("example2.jpg");
}

.img-5{
    grid-area: img-5;
    background-image: url("example1.jpg");
}

.img-6{
    grid-area: img-6;
    /* min-height: 51.5rem; */
    background-image: url("example2.jpg");
}

.img-7{
    grid-area: img-7;
    background-image: url("example1.jpg");
}

.img-8{
    grid-area: img-8;
    background-image: url("example3.jpg");
}

.picture{
    width:100px;
    height: auto;
    margin: 4px;
}
  
.picture--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.picture--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.shopPics_container{
    width: 1200px;
    height: auto;
    margin: auto;
}


/*gallery*/
.gallery2 {
    max-width: 1500px;
    margin: 0px auto 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 1.5rem; 
    grid-template-areas: 
    "img-1 img-2 img-3 img-3"
    "img-1 img-4 img-5 img-6"
    "img-7 img-7 img-8 img-6"
    ;
  }

  .gallery2 a{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid rgb(163, 148, 128) 4px;
    border-radius: 5px; */
    overflow: hidden;
    box-shadow: #8b82796c 10px 10px 10px ;
    /* border:3px #47423c1c solid; */
    border-radius: 2px;
  }

  .gallery2 a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity .5s;
}

  .img-1_2{
    grid-area: img-1;
    background-image: url("2girls_gallery_print.jpg");
}
.img-2_2{
    grid-area: img-2;
    background-image: url("woman with baby2_gallery.jpg");
}
.img-3_2{
    grid-area: img-3;
    background-image: url("friends_river_gallery.jpg");
}
.img-4_2{
    grid-area: img-4;
    background-image: url("indie.jpg");
}
.img-5_2{
    grid-area: img-5;
    background-image: url("couple2_gallery.jpeg");
}
.img-6_2{
    grid-area: img-6;
    background-image: url("couple3_gallery.jpeg");
}
.img-7_2{
    grid-area: img-7;
    background-image: url("2people and dog_gallery.jpg");
}
.img-8_2{
    grid-area: img-8;
    background-image: url("family_gallery.jpg");
}

/*----------------------ALL MEDIA QUERIES BELOW----------------------*/

@media screen and (max-width:990px){

    /*------NAVBAR------*/

    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index:1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin:0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity:1;
        transition: all 0.5 ease;
        z-index: 99;
        /* height: 100vh; */
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 6vw;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #a6a28d;
    }

    .navbar_toggle{
        margin-top:30px;
        margin-right: 6vw;
    }

    .navbar_item{
        margin: auto;
        min-height: 25%;
        display: flex;
        align-items: center;
    }

    .active-page{
        color:white !important;
        background-color: #0505051c;
        width: 100%;
        height:10%;
        box-shadow: -1px 2px 5px rgba(5, 5, 5, 0.253);
    }

    .active-page a{
        color:white !important;
    }

    .navbar_btn{
        /* padding-bottom: 2rem; */
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        margin: 20px;
        color: #313131;
        font-size: 4vw;
        font-weight: 300;
        border-radius: 20%;
        border: none;
    }

    .navbar_menu.show{
        display: flex;
        flex-direction: column;
        border:none;
        background: #927d62;
        width: 40%;
        height: 80vw;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        filter: drop-shadow(rgba(0, 0, 0, 0.658) 10px 0px 10px);
        border-radius: 0 0 5vw 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    
    .navbar_links{
        display: flex;
        justify-content: center;
        color: #313131;
        font-size: 4vw;
        font-weight: 300;
        transition: .2s;
        width: 100%;
    }

    .navbar_links:hover{
        color:#ebebeb;
        transition: .2s;
    }

    #logo_img{
        width: 30vw;
        max-width: 150px;
    }

    .reposition{
        position: absolute;
        left: 43%;
        right: 0;
    }

    

    /*-------CAROUSEL-------*/

    .container {
        width: 100%;
        margin: 1vw 0;
        height: auto;
      }
      .carousel {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        background: radial-gradient(#beb5a8, #8d7b61c9);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
      }
      .slider {
        display: flex;
        height: 100%;
        width: 400%;
        transition: .5s;
        
      }
      .slider section {
        flex-basis: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 3vw;
        height: auto;
      }

      .review{
          padding: 0 12vw;
          font-size: 2.5vw;
          width: 100%;
      }

      .review h1{
          height: 1vw;
          font-size: 3vw;
          margin: auto;
      }

      .tagline_container{
          height: 50vw;
          width: 100vw;
          padding: 15vw;
      }

      .tagline{
          height: auto;
      }

      .tagline h1, .tagline p{
          font-size: 5vw;
      }

      .tagline a{
        position: unset
    }

      .control ul li{
        width: 2vw;
        height: 2vw;
      }


      .buttonShop{
        width: auto;
        height: auto;
        /* background: linear-gradient(#ccbea6, #b39f85); */
        background-color: #927d62;
        text-decoration: none;
        color: #beb5a9;
        border: 3px solid #b1aca283;
        border-radius: 50px;
        margin: auto;
        padding: .5vw 2vw;
        position: relative;
        top: 5vw;
        font-size: 3vw;
        font-weight: 600;
        transition: .2s;
      }

      .arrow i {
        font-size: 10vw;
    }

    /*-------HOME-------*/

    .print_desc{
        margin-top: 1vw;
    }

    #h1_desc{
        font-size: 3.5vw;
        padding: 1.5vw;
    }

    .pics_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(40vw, auto); 
        /* max-height:130vw; */
        height: auto;
        max-width: 1300px;
        width: 100%;
        margin: 2.5vw auto 0px auto;
        padding: 1vw 3vw;
        z-index: 1;
    }

    .picText{
        opacity: 100%;
        transition: all 0.3s ease;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size:4vw;
        cursor: default;
        margin: auto;
    }

    .picText h1{
        margin: 1vw;
    }
    
    .print_details{
        font-size: 3vw;
        margin: 0 20px;
    }

    .pic1, .pic2, .pic3{
        max-width: 1300px;
        width: 100%;
        max-height: none;
        height: 100%;
        margin: 0;
    }

    .pic1{
        grid-column: 1;
        grid-row: 1;
    }

    .pic3{
        grid-column: 1/3;
    }

    .pic3:hover{
        background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("example3.jpg");
        background-size:cover;
        background-position:center;
        border: 3px solid black;
        transition: all 0.3s ease;
        max-width: 1300px;
        width: 100%;
        /* height: 100vw; */
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_container{
        width: 100%;
        padding: 1vw 3vw;
        display: flex;
        flex-direction: column;
    }

    .about_pic{
        width: auto;
        height: auto;
    }

    .writing_block{
        width: 100%;
        height: auto;
    }

    #picofLisa{
        width: 100%;
        height: 60vw;
        margin-top: 0;
        object-position:top;
    }

    .about_background{
        height: auto;
    }    

    .about_container{
        margin-top: 1vw;
    }

    .writing_block{
        margin-top: 0;
    }

    .about_writing h1{
        font-size: 10vw;
        text-align: center;
    }

    #para{
        font-size: 4vw;
    }


    /*-------CONTACT--------*/

    .contact_container{
        position: absolute;
        top:350px;
        padding: 0;
        height: auto;
        z-index: 1;
        width: 10%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    #contact_title{
        margin: 5px;
        text-align: center;
    }
    
    #contact_title h1{
        font-size: 40px;
    }
    
    #contact_title p, h1{
        margin: 10px 0 10px 0;
        padding: 0;
    }
    
    
    .forms{
        margin: 5px 0px;
    }
    
    input{
        padding:0px 10px;
        border-radius: 0px;
        border: #a6a28d solid 2px;
    }
    
    input:placeholder-shown{
        padding: 0px 10px;
    }
    
    input:focus{
        outline: none;
        filter:drop-shadow(0px 2px 3px rgba(0,0,0,.3));
    }
    
    textarea{
        padding:5px 10px;
        border-radius: 0px;
        border: #a6a28d solid 2px;
    }
    
    textarea:placeholder-shown{
        padding: 5px 10px;
    }
    
    textarea:focus{
        outline:none;
        filter:drop-shadow(0px 2px 3px rgba(0,0,0,.3));
    }
    
    .formBox{
        width: 500px;
        height: 40px;
        margin: 5px 0px;
    }
    
    #button{
        width: auto;
        height: auto;
        margin-top: 10px;
        border-radius: 0px;
        border: rgba(138, 128, 118, 0.9) solid 2px;
        transition: ease-out 0.3s;
        background: #eae7dc;
        box-shadow: inset 0 0 0 0 #eae7dc;
        color:black;
        cursor:pointer;
    }
    
    #button:hover{
        box-shadow: inset auto 0 0 0 #a59183;
        color:white;
    }
    
    
    #myfile{
        width: 300px;
        position: relative;
        padding: 3px 5px 3px 5px;
        border: rgba(0, 0, 0, 0.288) 1px solid;
    
    }
    
    .contact_description{
        position: absolute;
        top:40px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .contact_description h1{
        font-size: 26px;
        text-align: center;
    }
    
    .contact_description p{
        font-size: 24px;
        text-align: center;
    }
    
    .contact_description ul{
        margin: 0;
        width: 400px;
        list-style-type: none;
    }
    
    .contact_description li{
        margin-top: 5px;
        font-style: italic;
        text-align: center;
    }
    
    #bold{
        font-weight: 400;
    }
    
    #examples_list{
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .contact_form{
        margin: 0 auto 0 auto;
        width: 500px;
    }

    /*---------------------------PHOTO GUIDE------------------------------*/

    .pguideContainer{
        
    }

    .pguideContainer h1{
        font-size: 5vw;
        margin: 0;
    }
    
    .guide_content h2{
        color: #f5f2ed;
        background-color: rgb(197, 184, 168);
        display: table;
        padding: 5px 8px;
        margin-bottom: 10px;
        font-weight: 900;

        margin: 0 auto;
        font-size: 3vw;
    }
    
    .guide_content p{
        color: #665741;
        font-weight: 900;
        
        font-size: 2.5vw;
        margin: 1vw 0;
    }
    
    .guide_content li{
        list-style:circle;
        margin-bottom: .5vw;
        color: #61594e;

        font-size: 2vw;
    }
    
    .guide_content{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        max-width: 1500px;
        margin: auto;
        font-size: 1vw;
    }
    
    .guide_content img{
        width: 80%;
        height: 100%;
        margin: 2vw auto 0 auto;
    }
    
    .guide_content ul{
        padding: 0 50px;
        list-style: none;
    }
    

    /*ENQUIRIES*/
    
    
  



    /*-------GALLERY-------*/

    .shop_container{
        padding: 0 2vw;
    }

    .showcase_banner h1{
        padding-top: 0;
        margin: auto;
        font-size: 8vw;
    }

    .showcase_banner p{
        font-size: 5vw;
    }

    .gallery2 {
        max-width: 1500px;
        margin: 0px auto 40px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vw 50vw 50vw 50vw 50vw 50vw ;
        grid-gap: 2vw; 
        grid-template-areas: 
        "img-1 img-2"
        "img-1 img-4"
        "img-7 img-7"
        "img-5 img-6"
        "img-8 img-6"
        "img-3 img-3"
        ;
    }

  .gallery2 a{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid rgb(163, 148, 128) 4px;
    border-radius: 5px; */
    overflow: hidden;
    box-shadow: #8b82796c 10px 10px 10px ;
    /* border:3px #47423c1c solid; */
    border-radius: 2px;
  }

  .gallery2 a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity .5s;
    }

    .img-1_2{
        grid-area: img-1;
        background-image: url("2girls_gallery_print.jpg");
    }
    .img-2_2{
        grid-area: img-2;
        background-image: url("woman with baby2_gallery.jpg");
    }
    .img-3_2{
        grid-area: img-3;
        background-image: url("friends_river_gallery.jpg");
    }
    .img-4_2{
        grid-area: img-4;
        background-image: url("indie.jpg");
    }
    .img-5_2{
        grid-area: img-5;
        background-image: url("couple2_gallery.jpeg");
    }
    .img-6_2{
        grid-area: img-6;
        background-image: url("couple3_gallery.jpeg");
    }
    .img-7_2{
        grid-area: img-7;
        background-image: url("2people and dog_gallery.jpg");
    }
    .img-8_2{
        grid-area: img-8;
        background-image: url("family_gallery.jpg");
    }

}